<?xml version="1.0" encoding="utf-8"?>
<languages>
	<English>
    <string name="minigame_01_title">Preparing \nthe land</string>
    <string name="minigame_02_title">Building \nextracting \nfacility</string>
    <string name="minigame_03_title">Building \npools</string>
    <string name="minigame_04_title">Vertical \ndrilling</string>
    <string name="minigame_05_title">Inserting \npipes</string>
    <string name="minigame_06_title">Covering \ncracks</string>
    <string name="minigame_07_title">Kick-off point</string>
    <string name="minigame_08_title">Horizontal \ndrilling</string>
    <string name="minigame_09_title">Setting off \nexplosives</string>
    <string name="minigame_10_title">Pumping water \nand chemicals</string>
    <string name="minigame_11_title">Eliminating \ncontaminants</string>
    <string name="minigame_12_title">Distributing wastes \nand gas</string>
    <string name="minigame_13_title">Earthquake-proof</string>
    <string name="minigame_14_title">Harmful \neffects</string>
	</English>
    
  <Spanish>
    <string name="minigame_01_title">Prepara \nel terreno</string>
    <string name="minigame_02_title">Construye el \ncomplejo extractivo</string>
    <string name="minigame_03_title">Construye \nlas piletas</string>
    <string name="minigame_04_title">Perforación \nvertical</string>
    <string name="minigame_05_title">Introduce \nla cañería</string>
    <string name="minigame_06_title">Cubre las fisuras</string>
    <string name="minigame_07_title">Kick-Off-Point</string>
    <string name="minigame_08_title">Perforación \nhorizontal</string>
    <string name="minigame_09_title">Activa los \nexplosivos</string>
    <string name="minigame_10_title">Bombea el agua\n y químicos</string>
    <string name="minigame_11_title">Elimina los \ncontaminantes</string>
    <string name="minigame_12_title">Distribuye los residuos \ny el gas</string>
    <string name="minigame_13_title">A prueba \nde sismos</string>
    <string name="minigame_14_title">Efectos \nnocivos</string>
  </Spanish>

	<German>
    <string name="minigame_01_title">Bereite das \nGelände vor</string>
    <string name="minigame_02_title">Baue die \nInfrastruktur auf</string>
    <string name="minigame_03_title">Errichte die \nAuffangbecken</string>
    <string name="minigame_04_title">Vertikale \nBohrung</string>
    <string name="minigame_05_title">Verlege \ndie Rohre</string>
    <string name="minigame_06_title">Repariere \ndie Risse</string>
    <string name="minigame_07_title">Kick-Off-Point</string>
    <string name="minigame_08_title">Horizontale \nBohrung</string>
    <string name="minigame_09_title">Aktiviere den \nSprengstoff</string>
    <string name="minigame_10_title">Pumpe das Wasser \nund die Chemikalien \nin das Bohrloch</string>
    <string name="minigame_11_title">Entferne die \nSchadstoffe</string>
    <string name="minigame_12_title">Entsorgung der \nAbfallprodukte \nund Gaslieferung </string>
    <string name="minigame_13_title">Erdbebensicher</string>
    <string name="minigame_14_title">Schädliche \nAuswirkungen</string>
	</German>
</languages>